<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.pretty_title %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user.name %>
</p>

<p>
  <strong>Community:</strong>
  <%= @listing.community.name %>
</p>

<p>
  <strong>Listing type:</strong>
  <%= @listing.listing_type.name %>
</p>

<p>
  <strong>Listing category:</strong>
  <%= @listing.listing_category.name %>
</p>

<p>
  <strong>Share type:</strong>
  <%= @listing.share_type.name %>
</p>

<p>
  <strong>Share category:</strong>
  <%= @listing.share_category.name %>
</p>

<p>
  <strong>Txn terms:</strong>
  <%= @listing.txn_terms %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>


<%= link_to 'Back', listings_path %>
