<h1>Listing Categories</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listing_categories.each do |listing_category| %>
      <tr>
        <td><%= listing_category.name %></td>
        <td><%= link_to 'Show', listing_category %></td>
        <td><%= link_to 'Edit', edit_listing_category_path(listing_category) %></td>
        <td><%= link_to 'Destroy', listing_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing category', new_listing_category_path %>
