<!DOCTYPE html>
<html>
<head>
  <title>CropShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
  <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'>


</head>
<body>

<%= render 'layouts/navbar' %>
<div class='container'>


    <!--<div id='header' class='row' style='border: 1px solid black;'>
      <div class='col-lg-2'>FIRST</div>
      <div class='col-lg-10'>SECOND</div>
    </div>-->


    <div class='row'>
      <%= yield %>
    </div>



</div>

</body>
</html>
